
<div class="wrap bgbl">
<div class="galback">
  <div class="navcon">
  <div class="grnav whnav"></div>
  <div class="nav">
    <div class="navi left">
      <div class="leftcontact"><span><i class="far fa-envelope"></i></span>&nbsp;*phone or email*</div>
    </div>
    <div class="navi mid">
      <ul class="menu cmenu ari">
        <li class="brn"><a href="/services">Services</a></li>
        <li><a href="/welcome">Welcome</a></li>
        <a href="/"><li><%= image_tag("tlogo.jpg") %></li></a>
        <li class="brn"><a href="/gallery">Gallery</a></li>
        <li class="brn"><a href="/contact" data-no-turbolink="true">Contact</a></li>
      </ul>
    </div>
    <div class="navi right">
      <a href="/contact"><div class="menubtn aribold">BOOK US</div></a>
    </div>
  </div>
  </div>


  <div class="backimg">
    <div class="backimgcenter"></div>
  </div>


  <div class="upperbacktext serve">
  <h1>View Our Gallery</h1>
  </div>

  </div>
  <div class="mobilenav">

    <div class="mobileimg"><%= image_tag("tlogo.jpg") %></div>
    <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>

  <div class="mobilego">
    <div class="item"><span class="mlclose"><i class="fas fa-times"></i>&nbsp</span></div>
    <div class="item"> <span class="ml"><%= link_to "Welcome", "/" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Gallery", "/gallery" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Book Us", "/contact" %></span></div>
    <div class="item"> <span class="ml ab"><%= link_to "Services", "/services" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "About", "/about" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Contact", "/contact" %></span></div>
    </div>

  <div class="dark"></div>

<div class="galcontain">


  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-290854f0-037a-4bb3-bee8-8a6ae65502cd"></div>
</div>

<div class="emailsub">
  <div class="emailhead">
At Your Service
  </div>
  <a href="/contact"><div class="emailbtn">BOOK NOW</div></a>
</div>


<div class="footer">
  <div class="footerlimit">
  <div class="footertop">
    <div class="footerpart flogo">
      <div class="mobilelogocent">
   <%= image_tag("tlogo.jpg")%>
      </div>
    </div>
    <div class="footerpart flist">
      <ul class="menu onehun ari bru">
        <li><a href="/">Welcome</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footerpart infof">
      <div class=" finfo">
      </div>
    </div>
  </div>
  <div class="footermid">
    <a href="https://www.instagram.com/sabrinascucina/"><i class="fab fa-instagram"></i></a> &nbsp;<i class="fab fa-facebook-f"></i>
  </div>

  <div class="footerlow">
  </div>
  </div>
  </div>



</div>
