<div class="wrap">
<div class="headerbackwrap">
<div class="headerback">
  <div class="navcon">
  <div class="grnav whnav"></div>
  <div class="nav">
    <div class="navi left">
      <div class="leftcontact"><span><i class="far fa-envelope"></i></span>&nbsp;*phone or email*</div>
    </div>
    <div class="navi mid">
      <ul class="menu cmenu ari">
        <li class="brn"><a href="/services">Services</a></li>
        <li><a href="/welcome">Welcome</a></li>
        <a href="/"><li><%= image_tag("tlogo.jpg") %></li></a>
        <li class="brn"><a href="/gallery">Gallery</a></li>
        <li class="brn"><a href="/contact" data-no-turbolink="true">Contact</a></li>
      </ul>
    </div>
    <div class="navi right">
      <a href="/contact"><div class="menubtn aribold">BOOK US</div></a>
    </div>
  </div>
  </div>
  <div class="mobilenav">
    <div class="mobileimg"></div>
    <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>
  <div class="mobilego">
    <div class="item"><span class="mlclose"><i class="fas fa-times"></i>&nbsp</span></div>
    <div class="item"> <span class="ml ab"><%= link_to "Welcome", "/" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Services", "/services" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Gallery", "/gallery" %></span></div>
    <div class="item"> <span class="ml ab"><%= link_to "Menu", "/menu" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Contact", "/contact", data: { turbolinks: false } %></span></div>
    </div>
<div class="dark"></div>




  <div class="headercontentwrap">

<div class="backimg">
  <div class="backimgcenter"></div>
</div>

<div class="upperbacktext">
  <h1>Cook With Tariq</h1>
</div>
<div class="lowerbacktext ari">Personal Chef &nbsp;&nbsp;| &nbsp;&nbsp;Catering &nbsp;&nbsp;| &nbsp;&nbsp; Meal Prep  </div>

</div>
<div class="social"><a href="https://www.instagram.com/sabrinascucina/"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;<i class="fab fa-facebook-f"></i></div>
</div>
</div>





<div class="firstback">
  <div class="firstbacklimit">
    <div class="firstbackright">
      <div class="frimage"></div>
    </div>
    <div class="firstbackleft colw">
      <div class="small_one colw">
      <p class="colw">The best of Vancouver</p>
    </div>
    <div class="nxheadertext">
      <p> Heart of the City</p>
    </div>

    <p class="colw">Welcome to Cook With Tariq. We specialise in a diverse cuisine. Private services as well as large catering are available.
      To provide support for your event at the highest level - this is our main goal!
    </p>
    <br>
    <p class="colw">You will find us making delicious meals all around the BC Province.  </p>
    </div>
  </div>
</div>
<div class="vidplace">

  <div class="headercontentwrap">

<div class="backimg">
  <div class="backimgcenter"></div>
</div>

<div class="upperbacktext">
  <h1>A Better Cuisine</h1>
</div>
<div class="lowerbacktext ari">A glimpse at one of our specials...</div>
<div class="centit"><a class="videobtn">Watch the Video <i class="fas fa-play-circle"></i></a></div>


</div>


</div>
<div class="vidover">
<div class="videocontain">
  <%= video_tag "tvid.mp4", :controls => true, :id => "myvid" %>
</div>
</div>




<div class="bmwrap">
<div class="buttonwrap">
  <div class="buttonlimit">
  <div class="buttonhead">
    <div class="small_one colw">
    <p>A Quick Look</p>
  </div>
  <div class="nxheadertext colw">
    <p>Our eats, treats and more</p>
  </div>
  </div>
  <div class="buttons">
    <div class="btn leftb"><i class="fas fa-arrow-left"></i></div>
    <div class="btn rightb"><i class="fas fa-arrow-right"></i></div>
  </div>
  </div>
</div>

<div class="miliad">
  <div class="miliadlimit">
    <div class="miliadstretch">
      <ul class="picrow">
        <li class="lione"><div class="fadeblue"></div></li>
        <li class="litwo"><div class="fadeblue"></div></li>
        <li class="lithree"><div class="fadeblue"></div></li>
        <li class="lifour"><div class="fadeblue"></div></li>
        <li class="lifive"><div class="fadeblue"></div></li>
        <li class="lisix"><div class="fadeblue"></div></li>
      </ul>
    </div>
  </div>
</div>
</div>







<div class="twoback">
  <div class="twolimit">
    <div class="twotop fl">
      <div class="twoleft">
        <div class="twoimg three">
          <div class="imgbar ari">Private Chef</div>
          <div class="imginfo ari">
            <div class="imginfotitle">Private Chef</div>
            <div class="imginfobar"></div>
            <div class="imginfotext">
              We offer private chef services as well as catering services
                to larger groups. Contact us to learn more.
             </div>
          </div>
        </div>
      </div>
      <div class="tworight">
        <div class="twoimg two">
          <div class="imgbar ari">Catering</div>
          <div class="imginfo ari">
            <div class="imginfotitle">Catering</div>
            <div class="imginfobar"></div>
            <div class="imginfotext">
            We cater! Whether you're having a small party, corporate event,
            or any other special occasion. We are the solution for you.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="twolow fl">
      <div class="twoleft">
        <div class="twoimg one">
          <div class="imgbar ari">Local Ingredients</div>
          <div class="imginfo ari">
            <div class="imginfotitle"> Local Ingredients</div>
            <div class="imginfobar"></div>
            <div class="imginfotext">
                 We use the freshest ingredients available. You can taste the difference.
            </div>
          </div>
        </div>
      </div>
      <div class="tworight">
        <div class="twoimg four">
          <div class="imgbar ari">Book Now</div>
          <div class="imginfo ari">
          <a href="/contact"><div class="imginfotitle">Book Now</div></a>
            <div class="imginfobar"></div>
            <div class="imginfotext">
            Decided on what you want? You can order online <a href="/contact">here</a> or email us at *phone number*
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="newthreeback">
  <div class="firstbacklimitw">

    <div class="firstbackleftw margbtm">
      <div class="small_one colw">
      <p>Let's make a memory</p>
    </div>
    <div class="nxheadertext colw">
      <p>Make your next event your best event.</p>
    </div>

    <p>
      Our approach is simple: make every meal an experience to remember. Whether it is a small lunch break or a large party. Each order will be approached with care and meals will
      be crafted accordingly.
    </p>
    <br>
    <p class="padp">We cook with fresh products and have unique style you won't find elsewhere. </p>

    <a href="#" class="hmorderbtn">Order Now</a>
    </div>

    <div class="firstbackrightw">
      <div class="frgroup">
        <div class="frtextwr colw">
        <h5>01</h5>
        <h3>Fast, tasty and loving</h3>
        <p>
          Each menu developed by our team consists of the smallest details in which we invest our soul: in every dish and every drink - from small parties to huge events.
        </p>
        </div>
      </div>
      <div class="frgroup">
        <div class="frtextwr colw">
        <h5>02</h5>
        <h3>Professional and Reliable</h3>
        <p>
          We are one hundred percent dedicated, so you can be sure that any of your wishes will be heard and fulfilled as best as possible.
        </p>
        </div>
      </div>
      <div class="frgroup">
        <div class="frtextwr colw">
        <h5>03</h5>
        <h3>The Freshest Products</h3>
        <p>
         We are keen in using only the freshest ingredients for our meal preparation. So we are confident in every dish that comes to your table.
        </p>
        </div>
      </div>
      <div class="frgroup">
        <div class="frtextwr colw">
        <h5>04</h5>
        <h3>Satisfaction is a Must</h3>
        <p>
           We're not satisfied until you are. We assure you that you will come back wanting more.
        </p>
        </div>
      </div>
    </div>

  </div>
</div>












<div class="aboutbackh">
  <div class="aboutlimit">
    <div class="abouthead colw">
   More about Chef Tariq
    </div>
    <div class="abouttext colw">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <br>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    <br>

    But my flavours are centered around Italian and French influences. With my families consent I have taken some of our cherished family recipes and want to share them all with you and yours.
        <br>
        <br>
        In the Italian culture food is the star, it brings everyone together, it creates memories and savours the most important thing- FAMILY. My goal is to combine family and original recipes and bring the same love for food from my table to yours. As a young adult I was eager to get in the industry and immediately found myself engulfed in the business. I have worked in every aspect of the restaurant, from the back of house to the front of house. My experience learning from these established professionals was beyond valuable. I decided to start Sabrina's Cucina, because I realized I wanted to share my passion for food and people on a more personal level. I hope you enjoy what you see, and can't wait to share the flavours of my kitchen with you.
        </p>

      <div class="thefade"></div>
    </div>
    <a href="/contact"><div class="readmore"><span class="readsp colw">Read More</span></div></a>
  </div>
</div>


<div class="emailsub">
  <div class="emailhead colw">
At Your Service
  </div>
  <a href="/contact"><div class="whitebtn">BOOK NOW</div></a>
</div>


<div class="footer">
  <div class="footerlimit">
  <div class="footertop">
    <div class="footerpart flogo">
      <div class="mobilelogocent">

      </div>
    </div>
    <div class="footerpart flist">
      <ul class="menu onehun ari">
        <li><a href="/">Welcome</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footerpart infof">
      <div class=" finfo">
      <span></span>&nbsp;
      </div>
    </div>
  </div>
  <div class="footermid">
    <a href="https://www.instagram.com/sabrinascucina/"><i class="fab fa-instagram"></i></a> &nbsp;<i class="fab fa-facebook-f"></i>
  </div>

  <div class="footerlow">
  </div>
  </div>
  </div>


  </div>
<script>


</script>
