<div class="wrap conwrap">
  <div class="contactback dining">

<div class="navcon">
<div class="grnav whnav"></div>
<div class="nav">
  <div class="navi left">
    <div class="leftcontact">*phone or email*</div>
  </div>
  <div class="navi mid">
    <ul class="menu cmenu ari">
      <li class="brn"><a href="/services">Services</a></li>
      <li><a href="/welcome">Welcome</a></li>
      <a href="/"><li><%= image_tag("tlogo.jpg") %></li></a>
      <li class="brn"><a href="/gallery">Gallery</a></li>
      <li class="brn"><a href="/contact" data-no-turbolink="true">Contact</a></li>
    </ul>
  </div>
  <div class="navi right">
    <a href="/contact"><div class="menubtn aribold">BOOK US</div></a>
  </div>
</div>
</div>
<div class="mobilenav">

  <div class="mobileimg"><%= image_tag("tlogo.jpg") %></div>
  <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>

  <div class="mobilego">
  <div class="item"><span class="mlclose"><i class="fas fa-times"></i>&nbsp</span></div>
  <div class="item"> <span class="ml"><%= link_to "Services", "/services" %></span></div>
  <div class="item"> <span class="ml"><%= link_to "Gallery", "/gallery" %></span></div>
  <div class="item"> <span class="ml ab"><%= link_to "Welcome", "/" %></span></div>
  <div class="item"> <span class="ml"><%= link_to "Contact", "/contact" %></span></div>
  </div>

<div class="dark"></div>


<div class="headercontentwrap">

<div class="backimg">
<div class="backimgcenter"></div>
</div>

<div class="upperbacktext brfont">
<h1>ADDITIONAL SERVICES</h1>
</div>
<div class="lowerbacktext ari brfont">Here's everything we currently offer... </div>


</div>




</div>


<div class="eventtop">
  <div class="eventlimit">
    <div class="eventhalf">
      <div class="ehlimit colw">
        <div class="greentxt colw">We will cater to you</div>
        <h3>Let's make a great moment even better ...
        </h3>
      </div>
    </div>
    <div class="eventhalf rev">
      <div class="ehlimit colw">
        <p>
          How can we help serve you? Cook With Tariq offers various services- which range from private dining services to
          holiday preperation and large event catering.
        </p>
      </div>
    </div>
  </div>
</div>





<div class="twoback nobg">
  <div class="twolimit nsl">
    <div class="twotop fl">
      <div class="twoleft">
        <div class="twoimg onex">
          <div class="imgbar ari gbar">Private Chef</div>
          <div class="simginfo ari">
            <a href="/privatechef"><div class="imginfotitle">Private Chef</div></a>
            <div class="imginfobar"></div>
            <div class="imginfotext">
              Chef Tariq specializes in creating one-of-a-kind private chef services. Whether it be
              for a small casual dinner, or an intimate formal gathering, we will make it something to remember.
            </div>
          </div>
        </div>
      </div>
      <div class="tworight">
        <div class="twoimg twox">
          <div class="imgbar ari gbar">Meal Prep</div>
          <div class="simginfo ari">
            <div class="imginfotitle">Meal Prep</div>
            <div class="imginfobar"></div>
            <div class="imginfotext">
             Meal Prep options are now available. Fill out a request form for
             more information and updates.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="twolow fl">
      <div class="twoleft">
        <div class="twoimg threex">
          <div class="imgbar ari gbar">Catering</div>
          <div class="simginfo ari">
            <a href="/catering"><div class="imginfotitle">Catering</div></a>
            <div class="imginfobar"></div>
            <div class="imginfotext">
              We cater! Whether you're having a small party, corporate dinner,
              or any other special occasion. We are the solution for you.
            </div>
          </div>
        </div>
      </div>
      <div class="tworight">
        <div class="twoimg fourx">
          <div class="imgbar ari gbar">Book Now</div>
          <div class="simginfo ari">
            <a href="/contact"><div class="imginfotitle">Book Now</div></a>
            <div class="imginfobar"></div>
            <div class="imginfotext">
            Decided on what you want? You can order online <a href="/contact">here</a> or call us *number*
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="fixplank">
<div class="fixpic">
</div>
</div>

<div class="emailsub grbg">
  <div class="emailhead">
At Your Service
  </div>
  <a href="/contact"><div class="emailbtn">BOOK NOW</div></a>
</div>
<div class="footer">
  <div class="footerlimit">
  <div class="footertop">
    <div class="footerpart flogo">
      <div class="mobilelogocent">
   <%= image_tag("tlogo.jpg")%>
      </div>
    </div>
    <div class="footerpart flist">
      <ul class="menu onehun ari bru">
        <li><a href="/">Welcome</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footerpart infof">
      <div class=" finfo">
      </div>
    </div>
  </div>
  <div class="footermid">
    <a href="https://www.instagram.com/sabrinascucina/"><i class="fab fa-instagram"></i></a> &nbsp;<i class="fab fa-facebook-f"></i>
  </div>

  <div class="footerlow">
  </div>
  </div>
  </div>

</div>
